<% layout("/layouts/boilerplate.ejs") -%>

<div id="filters">
    <div class="filter">
        <i class="fa-solid fa-fire fa-beat"></i>
        <p>Trending</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-bed fa-beat"></i>
        <p>Rooms</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-mountain-city fa-beat"></i>
        <p>Iconic</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-mountain fa-beat"></i>
        <p>Mountain</p>
    </div>
    <div class="filter">
        <i class="fa-brands fa-fort-awesome fa-beat"></i>
        <p>Castles</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-person-swimming fa-beat"></i>
        <p>Amazing Pools</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-campground fa-lg fa-beat"></i>
        <p>Camping</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-cow fa-lg fa-beat"></i>
        <p>Farms</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-snowflake fa-lg fa-beat"></i>
        <p>Arctic</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-igloo fa-lg fa-beat"></i>
        <p>Domes</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-ship fa-lg fa-beat"></i>
        <p>Boats</p>
    </div>
    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input 
            class="form-check-input" 
            type="checkbox" 
            role="switch" 
            id="switchCheckChecked" 
            checked>
            <label class="form-check-label" for="switchCheckChecked">Display total after tax</label>
        </div>
    </div>
</div>
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
    <% for(listing of allListings){ %>
        <a  class="listing-link" href="/listings/<%= listing._id %>">
            <div class="card listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b>
                        <br />
                        &#8377;<%= listing.price.toLocaleString("en-IN") %>/per night
                        <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
                    </p>
                </div>
            </div>
        </a>
    <%}%>
</div>

<script>
    let taxSwitch = document.getElementById("switchCheckChecked");
    taxSwitch.addEventListener('click', () => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo){
            if(info.style.display != "none"){
                info.style.display = "none";
            }else{
                info.style.display = "inline";
            }
        }
    })
</script>