body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 4rem;
    background-color: beige !important;
}
.fa-compass{
    color: rgb(233, 57, 57);
    font-size: 2rem;
}
.nav-link{
    color: #222 !important;
}

/* Footer  */
.f-info{
    height: 8rem;
    text-align: center;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: centre;
    align-items: space-evenly;
}
.f-info-links a{
    text-decoration: none;
    color: #222;
    margin: 0.5rem;
}
.f-info-links a:hover{
    text-decoration: underline;
    color: green;
}
.f-info-social,
.f-info-brand,
.f-info-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-social i{
    font-size: 1.3rem;
    margin-right: 1rem;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}

/* Show page */
.card img{
    height: 30vh;
}
.show-btn{
    display: flex;
    flex-direction: row;
}
.show-btn button{
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

/* map */
#map {
    height: 300px;
    width: 80vh;
}

/* Filters */

#filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }
    .filter {
        text-align: center;
        margin-top: 1.3rem;
        margin-right: 2rem;
        opacity: 0.7;
    }
    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }
    .filter p{
        font-size: 0.8rem;
    }
    .filter i{
        font-size: 0.8rem;
    }

/* Display tax switch */

    .tax-toggle {
        border: 1px solid black;
        border-radius: 1rem;
        height: 3rem;
        padding: 0.8rem;
        margin-left: 5rem;
        display: flex;
        align-items: center;
        box-shadow: 0 2px 4px rgb(53, 51, 51);
    }

/* Search bar */

  .search-input {
    border-radius: 25px;
    display: flex;
    text-align: center;
    padding: 0.3rem 3rem 0.3rem 3rem;
  }
  .search-btn {
    background-color: rgb(233, 57, 57);
    color: white;
    border-radius: 25px;
    padding: 0.3 1rem 0.3 1rem;

  }
  .search-btn:hover{
    background-color: rgb(233, 57, 57);
    color: white;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.8rem;
  }